.Plus-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.16);
}

.Plus {
    padding: 30px;
      position: fixed;
      border-radius: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 600px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      margin-left: 16px;
      margin-right: 16px;
      background: #fafafa;
}

.alert {
    padding-top: 20px;
        font-size: 16pt;
        font-weight: bold;
        color: #333;
        margin: 10px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    background: #fafafa;
    box-shadow: inset 4px 4px 5px #eeeeee, inset -4px -4px 5px #ffffff;
    border: 2px #646a73;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 14px;
}

textarea {
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background: #fafafa;
    box-shadow: inset 5px 5px 7px #eeeeee, inset -5px -5px 7px #ffffff;
    border: 0px;
    font-size: 20px;
    padding: 10px;
}

.body{
    margin: 40px 0px;
    padding: 15 px;
  }

.ph4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 80%;
    bottom: 3;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 20pt;
    box-shadow: 8px 8px 15px #e9e9e9, -8px -8px 15px #ffffff;
    border: 0;
    cursor: pointer;
}