/* client/src/App.js */
  .unit {
    width: 300;
    height: 300;
    padding: 5px;
    cursor:pointer;
    padding: 15px;
  }
  
  .inner {
    width: 230px;
    height: 230px;
    border-radius: 20px;
    box-shadow:  inset -7px -7px 8px #eeeff3, inset 7px 7px 8px #f8f9fd;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 30px;
    margin: auto;
    /* 세로 정렬 */
    justify-content: center; 
    /* 가로 정렬 */
    align-items: center;
  }
  
  .png {
    height: 230px;
    width: 230px;
    border-radius: 10px;
  }
  
  .trL {
    display: flex;
    justify-content: space-around;
    /* padding: 5%; */
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  h5, h4, h3, h2, h1, p {
    color : #403f3e;
    font-weight : 300;
    margin: 5px;
  }
  
  .shadow {
    box-shadow: 5px 5px 10px #e4e4e4, -5px -5px 10px #ffffff;
  }
  
  @media screen and (min-device-width: 375px) and (max-device-width: 768px) {
    .buttonTr {
      width: 100%;
      margin: 10% 40px;
      height: 30px;
      padding: 30px 50px;
      align-items: center;
    }
  
    .unit {
      width: 90%;
      height: 70%;
      margin: 0% 3% 0% 3%;
      text-align: center;
      flex-direction: row;
    }
  }